<html>
<head>
    <title>Overview of current drones</title>
    <link rel="stylesheet" type="text/css" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/libs/font-awesome/css/font-awesome.min.css">
    <style>

        div.col-drone { border: 1px solid #eee; }

        div.col-drone td i { margin-top: 3px;}
        div.col-drone td span.description { display: none;}
        div.col-drone:hover td span.description { display: block;}
    </style>
</head>

<body>
        <div class="col-xs-12">
            <h1>Drone overview page</h1>
        </div>
        {{#lstDrone}}
        <div class="col-drone col-xs-2">
            <h2>
                <i class="fa fa-plane"></i>
                <span class="pull-right">Drone {{id}}</span>  
            </h2>
            <div class='row'>
                <table class="table">
                    <tbody>
                        <tr>
                            <td id='' class='danger' title='IP Adress of this drone'>
                                <i class='fa pull-left fa-fw fa-server'></i>
                                <span class='pull-left description'> IP</span>
                                <span class='pull-right'>{{client._options.ip}}</span>
                            </td>
                        </tr>
                        <tr> 
                            <td id='' class='danger' title='Battery percentage'>
                                <i class='fa pull-left fa-fw fa-bolt'></i>
                                <span class='pull-left description'> Power</span>
                                <span class='pull-right'>94%</span>
                            </td>
                        </tr>
                        <tr>
                            <td id='' class='danger'title='Drone on target score'>
                                <i class='fa pull-left fa-fw fa-bullseye'></i> 
                                <span class='pull-left description'> On target</span>
                                <span class='pull-right'>94%</span>
                            </td>
                        </tr>
                        <tr>
                            <td id='' class='danger'title='Wind speed'>
                                <i class='fa pull-left fa-fw fa-flag'></i>
                                <span class='pull-left description'> Wind</span>
                                <span class='pull-right'>15 m/s</span>
                            </td>
                        </tr>
                        <tr>
                            <td id='' class='danger'title='Last connection'>
                                <i class='fa pull-left fa-fw fa-refresh'></i>
                                <span class='pull-left description'> Last connect</span>
                                <span class='pull-right'>100ms</span>
                            </td>
                        </tr>

                        <tr>
                            <td id='' class='danger'title='Location of this drone'>    
                                <i class='fa pull-left fa-fw fa-codepen' ></i> 
                                <span class='pull-left description'> X,Y,Z</span>
                                <span class='pull-right'>100, 100, 100</span>
                            </td>
                        </tr>
                        <tr>
                            <td id='' class='danger' title='Last seen'>
                                <i class='fa pull-left fa-fw fa-eye'></i>
                                <span class='pull-left description'> Last seen</span>
                                <span class='pull-right'>100ms</span>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <table class="table table-bordered text-center">
                    <tbody>
                        <tr>
                            <td title='Auto pilot'><i class='fa fa-fw fa-2x fa-car'></i></td>
                            <td title='Takeoff'><i class='fa fa-fw fa-2x fa-level-up'></i></td>
                        </tr>
                        <tr>
                            <td title='Control'><i class='fa fa-fw fa-2x fa-gamepad'></i></td>
                            <td title='Land'><i class='fa fa-fw fa-2x fa-level-down'></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {{/lstDrone}}
        
    
</body>

<script src="/libs/jquery/dist/jquery.min.js"></script>
<script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    App = {}
    App.socket = io.connect()

    // Basic socket communication
    // App.socket.on('draw', App.draw) 
    // App.socket.emit('drawClick', data) // Broadcast draw.
</script>
</html>